.home__container {
  display: flex;
  height: 90vh;

}

.home__main {
  margin-top: 12vh;
  height: 88vh;
}

.home__main h4{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

@media screen and (max-width: 1200px){
  .home__main{
    margin-left: 100px;
    width: 80vw;
  }
}

@media screen and (max-width: 585px){
  .home__main{
    margin-left: 100px;
    width: 70vw;
  }
}